html, body {
  background-color: #FFF;
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content__logo {
  position: relative;
  width: 100%;
}

.content__logo__image {
  margin: auto;
  display: block;
  position: relative;
  bottom: 40px;
}

.content__github {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.content__github iframe {
  padding: 70px 18px;
}
